


html, body, #main-wrapper{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    position:relative;
}

body{
    margin:0 0 50px;
}



.btn-fb{
    background-image: url("/images/fb-art.jpg");
    height:45px;
    width:45px;
    margin-top:3px;
    margin-left:10px;
    margin-right:10px;
    border:0;
}

#dynamic-content{
    height:100%;
    position:relative;
}

/* media queries for nav font size */
@media screen and (max-width: 767px) {
    nav li a {
        font-size: 1.2em;
    }
    div#logo-container{
        width:200px;
        margin-top:31px;
    }
    .btn-default{
        font-size:1.2em;
        margin-right:10px;
        
    }
    .btn-fb{
        margin-right:20px;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    nav li a {
        font-size: 1.3em;
    }
    div#logo-container{
        width:200px;
        margin-top:31px;
    }
    .btn-default{
        font-size:1.5em;
        margin-right:30px;

    }
    .btn-fb{
        margin-right:50px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    nav li a {
        font-size: 1.3em;
    }
    div#logo-container{
        width:250px;
        margin-top:16px;
    }
    .btn-default{
        font-size:1.3em;
        margin-right:10px;
    }
    .btn-fb{
        margin-right:10px;
        margin-left:0;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    nav li a {
        font-size: 1.6em;
    }
    div#logo-container{
        width:300px;
    }

    #dynamic-content{
    margin-top:127px;
    }
    .btn-default{
        font-size: 1.8em;
        margin-right:20px;
    }
    .btn-fb{
        margin-right:10px;
        margin-left:0;
    }
}

/*collapse navigation sooner than default for mobile */


@media (max-width: 1020px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}




nav{
    background-color:#FFFFFF;
}


nav li{
    color: rgb(93,51,106);
    margin-top:40px;
}

nav li a{
    color: rgb(93,51,106);
    text-decoration:none;
    border-right:2px solid rgb(93,51,106);
}


.navbar-toggle
{
    border:1px solid #444;
}

.icon-bar
{
    border:1px solid #444;
}

nav div#banner{
    height:20px;
    background-color:#383838;
    margin:0;
    padding:0;
    position:relative;
}


.btn-default{
    background-color:rgb(93,51,106);
    color:#FFFFFF;
}



div#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    height: 30px;
    bottom:0;
    left:0;
    position:fixed;
    width: 100%;
    background-color:#383838;
    color:#FFFFFF;
    padding:0 1%;
    line-height:30px;
}

footer #footer-container span.left{
    float:left;
}

footer #footer-container span.right{
    float:right;
}

footer #footer-container span.right a{
    color:#FFFFFF;
}

footer #footer-container span.right span.phone{
    margin-right:30px;
}

/* Modal Settings */

.myform input.form-control {
   display: block;  /* allows labels to sit on input when inline */
   margin-bottom: 15px; /* gives padding to bottom of inline inputs */
}

div#response{
    text-align:left;
    font-size:12pt;
    font-weight:bold;
}

section{
    margin-top:110px;
}

#map-canvas{
    height:400px;
    width:100%;
}

.location-desc{
    text-align:center;
    font-size:14pt;
}