


html, body, #main-wrapper{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

.btn-fb{
    background-image: url("/images/fb-art.jpg");
    height:45px;
    width:45px;
    margin-top:3px;
    margin-left:25px;
    margin-right:10px;
    border:0;
}

#dynamic-content{
    height:100%;
}

/* media queries for nav font size */
@media screen and (max-width: 767px) {
    nav li a {
        font-size: 1.2em;
    }
    div#logo-container{
        width:200px;
        margin-top:31px;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    nav li a {
        font-size: 1.3em;
    }
    div#logo-container{
        width:200px;
        margin-top:31px;
    }
    .btn-fb{
        margin-right:0;
        margin-left:10px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    nav li a {
        font-size: 1.3em;
    }
    div#logo-container{
        width:250px;
        margin-top:16px;
    }
    .btn-fb{
    margin-left:25px;
    margin-right:10px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    nav li a {
        font-size: 1.6em;
    }
    div#logo-container{
        width:300px;
    }
    .btn-fb{
    margin-left:25px;
    margin-right:10px;
    }
    #dynamic-content{
    margin-top:127px;
    }
}

/*collapse navigation sooner than default for mobile */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

nav{
    background-color:#FFFFFF;
}


nav li{
    color: rgb(93,51,106);
    margin-top:40px;
}

nav li a{
    color: rgb(93,51,106);
    text-decoration:none;
    border-right:2px solid rgb(93,51,106);
}


.navbar-toggle
{
    border:1px solid #444;
}

.icon-bar
{
    border:1px solid #444;
}

nav div#banner{
    height:20px;
    background-color:#383838;
    margin:0;
    padding:0;
    position:relative;
}


.btn-default{
    background-color:rgb(93,51,106);
    color:#FFFFFF;
}



div#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    bottom:0;
    left:0;
    height: 100px;
    position:absolute;
    width: 100%;
    background-color:#383838;
}

/* Modal Settings */

.myform input.form-control {
   display: block;  /* allows labels to sit on input when inline */
   margin-bottom: 15px; /* gives padding to bottom of inline inputs */
}

div#response{
    text-align:left;
    font-size:12pt;
    font-weight:bold;
}

section{
    margin-top:110px;
}

#map-canvas{
    height:400px;
    width:100%;
}

.location-desc{
    text-align:center;
}