#process-container{
    background-image: url("/images/cleaning_supplies.jpg");
}

#rotation-container{
    background-image: url("/images/sink.jpg");
}

#initial-container{
    background-image: url("/images/kitchen.jpg");
}

#initial-cleans{
    text-align: center;
    width:100%;
}



.beginning-segue h2
{
    margin-top:0;
    padding:0;
    width:300px;
    padding-bottom:1%;
    margin:0 auto;
    border-radius: 10px 10px 0px 0px;
    border:solid 1px #FFFFFF;
    background-color:#FFFFFF;
}

.beginning-segue p{
    padding:3%;
    font-size: 14pt;
    text-align: center;
}

.parallax{
    
    /* Full height */
    min-height: 100%; 


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    opacity: 0.65;
}

.caption{
    position: absolute;
    top: 40%;
    width: 100%;
    left:0;
    text-align: center;
}

.caption span{
    background-color:rgb(52,0,69);
    color:#FFFFFF;
    padding:18px;
    font-size:2.5em;
}

.ending-segue{
    position:absolute;
    left:0;
    bottom:1%;
    width:100%;
    text-align: center;
}

.ending-segue span{
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    padding:5px 18px 18px 18px;
    margin:0;
    font-size:2.5em;
    text-align: center;
}

.caption-text{
    margin:0 auto;
    width:30%;
    background-color:rgb(52,0,69);
    border-radius:10px;
    padding:1%;
    color:#FFFFFF;
}

.caption-container{
    position: relative;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
}

.caption-container .info-holder{
    position:relative;
    padding-top:5%;
    width:1000px;
    margin:0 auto;
    padding-bottom:5%;
}

.caption-container div.info{
    display:inline-block;
    vertical-align:top;
    background-color:#C8C8C8;
    color:black;
    font-size:12pt;
    top:0;
    width:280px;
    height:340px;
    margin-right:50px;
    margin-bottom:5%;
    position: relative;
    border-radius:15px;
    opacity: .9;
}

.caption-container .header{
    background-color:rgb(52,0,69);
    margin:0;
    padding:0;
    top:0;
    color:#FFFFFF;
    border-radius:15px 15px 0px 0px;
    margin-bottom:10px;
    height:80px;
}

.header h3{
    margin:0;
    padding:0;
    line-height: 80px;
}

li span{
    margin-right:5px;
    font-size: 10pt;
    color:rgb(52,0,69);
}

.caption-container li{
    text-align: left;
    padding-left:20px;
}

.caption-container ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.caption-container div.info-large{
    display:inline-block;
    vertical-align:top;
    background-color:#C8C8C8;
    color:black;
    font-size:12pt;
    top:0;
    width:325px;
    height:630px;
    margin-right:50px;
    margin-bottom:5%;
    position: relative;
    border-radius: 15px;
    opacity: .9;
}

.caption-container div.info-large p{
    font-weight: bold;
    margin-top:5px;
}



.descriptions{
    text-align: center;
    padding:5%;
}

.descriptions h2{
    font-size:24pt;
    margin-bottom:2%;
}


.descriptions p{
    font-size:14pt;
}


@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


