#process-container{
    background-image: url("/images/cleaning_supplies.jpg");
    min-height:100%;
}

#rotation-container{
    background-image: url("/images/sink.jpg");
}

#initial-container{
    background-image: url("/images/kitchen.jpg");
}

#initial-cleans{
    text-align: center;
    width:100%;
}

#background-tab
{
    background-color: transparent;
    height:10%;
}

#initial-cleans h2
{
    margin-top:0;
    padding:0;
    width:300px;
    padding-bottom:1%;
    margin:0 auto;
    border-radius: 10px 10px 0px 0px;
    border:solid 1px #FFFFFF;
    background-color:#FFFFFF;
}

#initial-cleans p{
    padding:3%;
    font-size: 14pt;
}

.parallax{
    
    /* Full height */
    min-height: 100%; 


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    opacity: 0.65;
}

.caption{
    position: absolute;
    top: 40%;
    width: 100%;
    left:0;
    text-align: center;
}

.caption span{
    background-color:rgb(52,0,69);
    color:#FFFFFF;
    padding:18px;
    font-size:2.5em;
}

.ending-segue{
    position:absolute;
    left:0;
    bottom:1%;
    width:100%;
    text-align: center;
}

.ending-segue span{
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    padding:5px 18px 18px 18px;
    margin:0;
    font-size:2.5em;
}

.caption-container{
    position: relative;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
}

.caption-container .info-holder{
    position:relative;
    padding-top:5%;
    width:950px;
    margin:0 auto;
}

.caption-container div.info{
    display:inline-block;
    vertical-align:top;
    background-color:#383838;
    color:#FFFFFF;
    font-size:12pt;
    top:0;
    width:250px;
    height:300px;
    margin-right:50px;
    margin-bottom:5%;
    position: relative;
}

.caption-container div.info ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.descriptions{
    text-align: center;
    padding:5%;
}

.descriptions h2{
    font-size:24pt;
    margin-bottom:2%;
}


.descriptions p{
    font-size:14pt;
}


@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


