<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>{{title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Open+Sans+Condensed:300" rel="stylesheet">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<meta content="cleaning, commercial home cleaning, deep cleaning, residential cleaning" name="keywords">
	<meta content="Residential Cleaning Services" name="description">
	<meta content="ProTouch, Inc" name="author">
	<meta content="user-scalable = yes" name="viewport">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	</script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
	<link charset="utf-8" href="/css/_base.css" media="screen" rel="stylesheet" type="text/css">
	<link charset="utf-8" href="/css/{{pageCSSFile}}" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="main-wrapper">
		<nav class="navbar navbar-light navbar-fixed-top sticky">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> 
					<!--<a class="navbar-left" href="/"><img alt="ProTouch Logo" src="/images/logo.jpg" class="img-responsive"></a>-->
					<div id="logo-container">
						<img alt="ProTouch Logo" src="/images/logo.jpg" class="img-responsive">
					</div>
				</div>


				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Our Services
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/services">Our Cleaning Process</a></li>
								<li><a href="/services#rotation">Rotational Services</a></li>
								<li><a href="/services#one-time">One-time cleanings</a></li>
							</ul>
						</li>


						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Our Mission</a></li>
								<li><a href="#">Our Staff</a></li>
								<li><a href="#">Customer Testimonials</a></li>
							</ul>
						</li>


						<li><a href="#" id="lastHeaderLink">Locations We Serve</a>
						</li>
					</ul>


					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="btn btn-default" data-target="#myModal" data-toggle="modal" href="#" role="button">Request a Quote</a>
						</li>


						<li>
							<a class="btn btn-fb" href="#" role="button"></a>
						</li>
					</ul>
				</div>
			</div>
            <div id="banner">
		    </div>
		</nav>





		<section id="dynamic-content">
			{% block body %} {% endblock %}
		</section>
		<!-- Modal -->


		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->


				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" id="modalClose" type="button">&times;</button>

						<h4 class="modal-title">Request a Quote</h4>
					</div>


					<div class="modal-body">
						<div class="row myform">
							<div class="col-md-12">
								<form id="quoteSubmission" name="myform" role="form">
									<div class="form-group">
										<label class="control-label" for="email">Email *</label> <input class="form-control" id="email" name="emailAddress" required="" type="email">
									</div>


									<div class="form-group">
										<label class="control-label" for="name">Name *</label> <input class="form-control" id="name" name="name" required="" type="text">
									</div>


									<div class="form-inline">
										<div class="form-group">
											<label>Phone Number</label> <input class="form-control" id="phone" name="phone" required="" type="tel">
										</div>


										<div class="form-group">
											<label>Est. Square Footage *</label> <input class="form-control" id="sqft" name="sqFootage" required="" type="number">
										</div>


										<div class="form-group">
											<label>Number of Rooms *</label> <input class="form-control" id="rooms" name="rooms" required="" type="number">
										</div>
									</div>


									<div class="form-group">
										<button class="btn btn-default" type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>


					<div class="modal-footer">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->


						<div id="response">
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--<footer>
			<script charset="utf-8" src="/js/{{pageJavaScriptFile}}" type="text/javascript">
			</script>

			<div id="footer-container">
			</div>
		</footer>-->
	</div>
</body>
</html>