	{% extends "_base.html" %} 

    {% block body %}

    <div id="staff-container" class="container-fluid">
        <!--<img alt="ProTouch Staff" class="img-responsive" src="/images/groupphoto.jpg">-->
	</div>
    <div class="ptbanner">
        <p>To Our Customer</p>
    </div>
    <div id="mission">
        
        <p>ProTouch is a company who has bright smiles, experience, ambition and a desire to find the best way to satisfy you, our customer who truly is the heart of our business.</p>
        <p>Have you ever been inside on a sunny day? Turn down lunch with a friend? With ProTouch handling the cleaning for you, you get back the lost time you have always wanted. Now you have a chance to go out for the day without the nag of awaiting housework! Or just kick back and enjoy your clean, fresh home.</p>
        <p>The staff at ProTouch wants to take this opportunity to thank you for a chance to keep your home feeling welcome and enjoyable. With fully insured and bonded employees, you can rest assured your home is in good hands. We hope to satisfy you to the best of our ability.</p>
        <p>Thanks again,</p>
        <p>From the staff at ProTouch Cleaning, Inc.</p>
    </div>

    <!--<div class="ptbanner">
        <p>Staff Bio's</p>
    </div>-->

    <div class="ptbanner">
        <p>Customer Reviews</p>
    </div>
    <div id="reviews">
        <div class="left-review">
            <p>"Hi Brandy,</p>
            <p>I want to tell you what a wonderful job your team does cleaning our house. I appreciate all the little extra things. It's such a treat to come home to a clean house.  It's the best decision we made." <span class="name">-Cheryl & Tony M</span></p>
        </div>

        <div class="right-review">
            <p>"Hi Brandy,</p>
            <p>I just wanted to drop you a quick line to tell you how pleased we were with yesterday's cleaning!"  <span class="name">-Todd C</span></p>
        </div>

        <div class="left-review">
            <p>"Hi Brandy,</p>
            <p>I just wanted to let you know how happy I am with the cleanings.  My house looks amazing!  I've never seen it so clean.  Please thank your crew for me."  <span class="name">-Raquel L</span></p>
        </div>

        <div class="right-review">
            <p>"Brandy, </p>
            <p>Your team did an amazing job. I used to clean houses with my mom so I know how hard the work is. Please tell them they knocked it out of the park. Thank you soooo much!!" <span class="name">-Delaina L</span></p>
        </div>

        <div class="left-review">
            <p>"Brandy,</p>
            <p>Just wanted to let you know that Sheila and Cheryl did a great job cleaning our house today!  I really appreciate it."  <span class="name">-Scott A</span></p>
        </div>

        <div class="right-review">
            <p>"Hi Brandy, </p>
            <p>It is so nice coming home to a wonderfully clean house! Please feel free to use me as reference if you ever need it." <span class="name">-Jill B</span></p>
        </div>

        <div class="left-review">
            <p>"Hi Brandy,</p>
            <p> It was so nice to come home to a lovely clean house tonight.  Please thank the ladies for doing such a great job."  <span class="name">-Anne H</span></p>
        </div>

        <div class="right-review">
            <p>"Brandy, </p>
            <p>Wow! Thank you so much! The house looks great!" <span class="name">-Derric T</span></p>
        </div>

        <div class="left-review">
            <p>"The ladies that are in our house are very nice and do a good job. I especially like their detailed cleaning schedule...they provide each week a sheet that states what room/area received more detailed attention on the current visit and what will get the same extra treatment on the next one."  <span class="name">-Chad B</span></p>
        </div>

        <div class="right-review">
            <p>"Brandy, </p>
            <p>Professional, courteous, responsive, detail-oriented -- Pro Touch Cleaning is all those things. I was thoroughly impressed with their first clean & now have them coming back on a regular basis. We have 2 dogs so the amount of fur on our hardwood floors & furniture is often times unmanageable. They were able to get my couch fur free, which is not an easy task! And my shower, I can actually see through it now! Their attention to detail was remarkable. Being a first time home owner who had their home built, my goal is to have my home look as new as possible for as long as possible. Pro Touch Cleaning is definitely helping make that possible. I'm very happy with my choice." <span class="name">-Jennifer N</span></p>
        </div>

        <div class="left-review">
            <p>"I wanted to give a huge thank you to South Lyon Swap and Pro Touch Cleaning. Today I received a free house cleaning, from the contest I won about a week ago on swap. What a wonderful job Leann, Danielle, and Heather did for me today.  Thank you also to Brandy the manager of Pro Touch for setting this up and coming out to meet me today. You and your staff made my day!!! I would definitely recommend Pro Touch Cleaning Incorporated."  <span class="name">-Melanie M</span></p>
        </div>




    </div>



    {% endblock %}