	{% extends "_base.html" %} 

    {% block body %}

    <div class="parallax" id="staff-container">
		<div class="caption">
			<div class="caption-text">
				<p>ProTouch is a company who has bright smiles, experience, ambition and a desire to find the best way to satisfy you, our customer who truly is the heart of our business.</p>
                
			</div>
		</div>
        <div class="additional-text"> 
                    <p>Have you ever been inside on a sunny day? Turn down lunch with a friend? With ProTouch handling the cleaning for you, you get back the lost time you have always wanted. Now you have a chance to go out for the day without the nag of awaiting housework! Or just kick back and enjoy your clean, fresh home.</p>

                    <p>The staff at ProTouch wants to take this opportunity to thank you for a chance to keep your home feeling welcome and enjoyable. With fully insured and bonded employees, you can rest assured your home is in good hands. We hope to satisfy you to the best of our ability.</p>
                    <p>Thanks again,
                        <br>From the staff at ProTouch Cleaning, Inc.
                    </p>
        </div>
	</div>



    {% endblock %}