{% extends "_base.html" %}

{% block body %}

<div id="image-container">
    <img src="/images/main_image.jpg" alt="living room" class="img-responsive">
</div>

<div id="main-content">
    <h1>OFFERING COMPLETE AND CUSTOMIZABLE CLEANING SOLUTIONS FOR OUR CUSTOMERS</h1>
    <h2>ProTouch is a company with bright smiles, experience, ambition and a desire to find the best way to satisfy you, 
        our customer, who truly is the heart of our business.</h2>

    <div id="text-container">
        <div id="left-container">
            <div class="left-text">
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Locally owned family business</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> All cleanings are guaranteed</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Bonded and insured</p>
            </div>
        </div>
        <div id="right-container">
            <div class="right-text">
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Move-in and move-out cleanings</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Deep cleanings</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Scheduled and one-time cleanings</p>
            </div>
        </div>
    
    </div>
</div>



{% endblock %}