{% extends "_base.html" %}

{% block body %}


    <div id="process-container" class="parallax">
        <div class="caption">
            <span>
                The ProTouch Cleaning Process
            </span>
        </div>
    </div>
    <div id="initial-cleans" class="descriptions">
        <h2>The Initial Cleans</h2>
        <p>
            ProTouch begins your service by providing extra detailing the first two cleanings. Your first clean, “Initial Clean A,” is an in-depth clean of your kitchen and bathrooms, as well as a general cleaning throughout the rest of your house. Your second clean, “Initial Clean B,” is an in-depth clean of the living areas and bedrooms, as well as general cleaning in the kitchen and bathrooms. Because of the extra time and detail work that is performed on the two Initial Cleans, ProTouch charges an additional fee for these. Following your two Initial cleans, your home is now ready to be maintained using the Rotation System.
        </p>
    </div>
   <!-- <div id="initial-cleans-detail">
        <div id="bathroom" class="floating-div">
            <h3>Bathroom Detail</h3>
        </div>
         <div id="kitchen" class="floating-div">
             <h3>Kitchen Detail</h3>
        </div>
         <div id="general-a" class="floating-div">
             <h3>General Cleaning A</h3>
        </div>
         <div id="other-rooms" class="floating-div">
             <h3>Living Rooms, Bedrooms Dusting Detail</h3>
        </div>
         <div id="vacuuming" class="floating-div">
             <h3>Vacuuming Detail</h3>
        </div>
         <div id="general-b" class="floating-div">
             <h3>General Cleaning B</h3>
        </div>
    </div>
-->

    <div id="rotation-container" class="parallax">
        <div class="caption">
            <span>
                Rotational Cleanings
            </span>
        </div>
    </div>

    <div id="rotation-description" class="descriptions">
        <h2>Rotation System</h2>
        <p>
            This plan allows us to periodically detail areas which would not need an in-depth cleaning every time (i.e. baseboards, front of kitchen cabinets, under sofa cushions; etc. (See complete list on following pages.) Sections labeled “Each Time” are the tasks performed on every cleaning. The sections labeled “Rotating Basis” are tasks performed periodically when this area is on rotation, and an “Area of Rotation Slip” will be left each time.
        </p>
    </div>


    <div id="initial-container" class="parallax">
        <div class="caption">
            <h2>Test3</h2>
        </div>
    </div>

    <div>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
    </div>


{% endblock %}