{% extends "_base.html" %}

{% block body %}


    <div id="process-container" class="parallax">
        <div class="caption">
            <span>
                The ProTouch Cleaning Process
            </span>
        </div>
    </div>
    <div id="initial-cleans" class="descriptions">
        <h2>The Initial Cleans</h2>
        <p>
            ProTouch begins your service by providing extra detailing the first two cleanings. Your first clean, “Initial Clean A,” is an in-depth clean of your kitchen and bathrooms, as well as a general cleaning throughout the rest of your house. Your second clean, “Initial Clean B,” is an in-depth clean of the living areas and bedrooms, as well as general cleaning in the kitchen and bathrooms. Because of the extra time and detail work that is performed on the two Initial Cleans, ProTouch charges an additional fee for these. Following your two Initial cleans, your home is now ready to be maintained using the Rotation System.
        </p>
    </div>

    <div id="rotation-container" class="parallax">
        <div class="caption2">
            <div class="info">
                <h3>Bathroom</h3>
                    <ul>
                        <li>
                            Tub and shower given extra attention
                        </li>
                        <li>
                            Grouting scrubbed
                        </li>
                        <li>
                            Mildew treated
                        </li>
                        <li>
                            Shower door given extra attention
                        </li>
                        <li>
                            Floor scrubbed
                        </li>
                        <li>
                            Baseboards hand wiped
                        </li>
                        <li>
                            Vanity fronts polished
                        </li>
                        <li>
                            Knick-knacks individually wiped
                        </li>
                        <li>
                            Spot check doors and door Frames
                        </li>
                    </ul>
            </div>

            <div class="info">
                <h3>Kitchen</h3>
                    <ul>
                        <li>
                            Scrub drip pans under burners
                        </li>
                        <li>
                            Clean grease filter
                        </li>
                        <li>
                            Clean inside hood
                        </li>
                        <li>
                            Clean and shine appliances
                        </li>
                        <li>
                            Clean less accessible counters
                        </li>
                        <li>
                            Clean knick-knack areas
                        </li>
                        <li>
                            Scrub kitchen floor corners
                        </li>
                        <li>
                            Baseboards hand wiped
                        </li>
                        <li>
                            Clean outsides of cabinets
                        </li>
                        <li>
                            Spot check doors & doorframes
                        </li>
                    </ul>
            </div>

        </div>
    </div>









    <div id="rotation-description" class="descriptions">
        <h2>Rotation System</h2>
        <p>
            This plan allows us to periodically detail areas which would not need an in-depth cleaning every time (i.e. baseboards, front of kitchen cabinets, under sofa cushions; etc. (See complete list on following pages.) Sections labeled “Each Time” are the tasks performed on every cleaning. The sections labeled “Rotating Basis” are tasks performed periodically when this area is on rotation, and an “Area of Rotation Slip” will be left each time.
        </p>
    </div>


    <div id="initial-container" class="parallax">
        <div class="caption">
            <h2>Test3</h2>
        </div>
    </div>

    <div>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
        <p>Content 1</p>
    </div>


{% endblock %}